doctype html
html(lang="rus")
		head
			title= "pageTitle"
			meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
			link(rel='stylesheet', href='css/style.css')
			link(rel='stylesheet', href='css/reset.css')
		body
			header.section__Top
				.middle
					img.menu__link(src='img/ic_menu_24px.svg')
					#menu
						ul
							-for(var x=0; x<3; x++)
								li item
					img.bitmap(src= 'img/logo.png')
					.div-middle
						- var gorod = ['Россия', ' Москва'];
							for name in gorod
								.phone__box
									.name= name
									a(href= 'tel:#').
										8 (800) 555-19-81
						.test-rustest-ru
							-var mail= "test@rustest.ru"
								a(href= "mailto:mail").
									#{mail}
					button.rectangle-14(type="submit")
						img(src="img/ic_visibility_24px.svg")
						span Версия для слабовидящих
			main
				.tab_slide
					.middle
						.tab_slide__box
							.tab_slide__click
								ul
									li.active О ФЦТ
									-var tabs=["Документы","ГИА", "Платные услуги ФЦТ"]
										for name in tabs
												li= name
							.tab_slide__search
								form
									input(type="search")
									input.click-search(type='button')
								a.lock
						.tab_slide__info-link.active
							.tab_slide__img-info
								img.pictures(src='img/fonts-test.PNG')
								.tab_slide__breadcrumbs
									a(href='#') О ФЦТ
									a(href='#') Общая информация
							ul.inside_tabs
								li.active
									p Общая информация
										include ../img/ic_structure.svg  
									.oval
										include ../img/arr.svg
								-var infoTab= ["Структура", "Лицензии", "Контакты"]
									for name in infoTab
										li 
											p= name 
												include ../img/ic_structure.svg
											.oval
												include ../img/arr.svg
							.inside_tabs_info.active
								.inside_tabs_info__box
									.container
										h1 Общая информация
										.text-block
											h3.
												Федеральное государственное бюджетное учреждение «Федеральный центр тестирования» (ФЦТ)
											div
												p.
													ФГБУ «ФЦТ» создан в целях содействия Рособрнадзору в осуществлении его <br> полномочий, в том числе по организации проведения единого государственного <br>экзамена, формированию и ведению информационных ресурсов.
								.inside_tabs_info__box
									
									.title Направления деятельности
									.container
										h2.
											Деятельность в рамках Государственного задания
										.text-block
												span 1
												div.text-block_content
													p
														strong. 
															Организационное и технологическое обеспечение проведения государственной итоговой аттестации
													ul.text-block_list
														li.
															Сбор данных об участниках единого государственного экзамена
														li.
															Формирование плана распределения экзаменационных материалов по субъектам Российской Федерации
														li.
															Тиражирование, комплектование и доставка экзаменационных материалов в субъекты Российской Федерации и российские образовательные организации, расположенные за пределами территории Российской Федерации
														li.
															Перевод на шрифт Брайля, тиражирование, комплектование и доставка в субъекты Российской Федерации экзаменационных материалов для слепых участников единого государственного экзамена
														li.
															Тиражирование на CD-дисках экзаменационных материалов по иностранному языку
										.text-block
												span 2
												div.text-block_content
													p
														strong.
															Организационно-техническое обеспечение формирования и ведения информационных ресурсов, связанных с осуществлением полномочий Рособрнадзора
													ul.text-block_list
														li.
															Организационно-техническое обеспечение формирования и ведения ФИС ГИА и приёма
														li.
															Организация централизованной проверки экзаменационных работ обучающихся, выполненных на основе контрольных измерительных материалов при проведении государственной итоговой аттестации по образовательным программам среднего общего образования в форме единого государственного экзамена
														li.
															Обработка экзаменационных работ, полученных при проведении единого государственного экзамена за пределами территории Российской Федерации
														li.
															Направление результатов единого государственного экзамена в субъекты Российской Федерации
														li.
															Обработка апелляций участников единого государственного экзамена
														li.
															Организация обеспечения подключения к защищённой сети передачи данных региональных центров обработки информации, образовательных организаций среднего профессионального и высшего образования
								.inside_tabs_info__box
									.container
										h2.
											Деятельность по оказанию услуг, выполнению работ, предусмотренная Уставом учреждения
										.text-block
											ul.text-block_box
												li Информационно-методическое и организационно-технологическое обеспечение проведения государственной итоговой аттестации обучающихся, освоивших основные образовательные программы основного общего образования и иных форм оценки качества образования
													.namber 1
												li Разработка, использование и распространение методов, алгоритмов баз данных и программ для ЭВМ по подготовке, проведению и обработке результатов тестирования с целью оценки качества образования
													.namber 2
												li Подготовка и издание учебной, методической и иной литературы по вопросам оценки качества образования
													.namber 3
												li Проведение экспертизы процедур оценки качества образования в рамках проверок качества образования в образовательных организациях
													.namber 4
												li Проведение конференций, семинаров, совещаний и выставок по вопросам оценки качества образования и подготовки обучающихся
													.namber 5
												li Создание, формирование, ведение и использование баз данных и иных информационных ресурсов в сфере оценки качества подготовки обучающихся
													.namber 6
												li Обеспечение информационной безопасности вычислительных систем и сетей в том числе: 
													| <br> - по технической защите конфиденциальной информации; 
													| <br> - по распространению и техническому обслуживанию шифровальных (криптографических) средств, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств, выполнению работ, оказанию услуг в области шифрования информации, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств
													.namber 7
												li Осуществление образовательной деятельности по дополнительным профессиональным программам
													.namber 8
								.inside_tabs_info__box
									.container
										h2.
											Законодательные и нормативные правовые акты, регламентирующие деятельность ФГБУ «ФЦТ»
										.text-block
											ul.text-block_box.link
												li 
													p Об утверждении устава Федерального государственного бюджетного учреждения «Федеральный центр тестирования» от 12.07.2017 №1166
													.download
														a.download_click(href='#').
															Скачать
														.download_text.
															pdf, 6.35 мб
												li 
													p Приказ Рособрнадзора от 26.12.2008 № 2249 «О закреплении за Федеральным государственным учреждением «Федеральный центр тестирования» полномочий по осуществлению организационного и информационно-технологического обеспечения организации и проведения ЕГЭ»
													.download
														a.download_click(href='#').
															Скачать
														.download_text.
															doc, 102 кб
							.inside_tabs_info
								.inside_tabs_info__box
									.container
										h1 Общая информация
										.text-block
											h3.
												Федеральное государственное бюджетное учреждение «Федеральный центр тестирования» (ФЦТ)
											div
												p.
													ФГБУ «ФЦТ» создан в целях содействия Рособрнадзору в осуществлении его <br> полномочий, в том числе по организации проведения единого государственного <br>экзамена, формированию и ведению информационных ресурсов.
								.inside_tabs_info__box
									
									.title Направления деятельности
									.container
										h2.
											Деятельность в рамках Государственного задания
										.text-block
												span 1
												div.text-block_content
													p
														strong. 
															Организационное и технологическое обеспечение проведения государственной итоговой аттестации
													ul.text-block_list
														li.
															Сбор данных об участниках единого государственного экзамена
														li.
															Формирование плана распределения экзаменационных материалов по субъектам Российской Федерации
														li.
															Тиражирование, комплектование и доставка экзаменационных материалов в субъекты Российской Федерации и российские образовательные организации, расположенные за пределами территории Российской Федерации
														li.
															Перевод на шрифт Брайля, тиражирование, комплектование и доставка в субъекты Российской Федерации экзаменационных материалов для слепых участников единого государственного экзамена
														li.
															Тиражирование на CD-дисках экзаменационных материалов по иностранному языку
										.text-block
												span 2
												div.text-block_content
													p
														strong.
															Организационно-техническое обеспечение формирования и ведения информационных ресурсов, связанных с осуществлением полномочий Рособрнадзора
													ul.text-block_list
														li.
															Организационно-техническое обеспечение формирования и ведения ФИС ГИА и приёма
														li.
															Организация централизованной проверки экзаменационных работ обучающихся, выполненных на основе контрольных измерительных материалов при проведении государственной итоговой аттестации по образовательным программам среднего общего образования в форме единого государственного экзамена
														li.
															Обработка экзаменационных работ, полученных при проведении единого государственного экзамена за пределами территории Российской Федерации
														li.
															Направление результатов единого государственного экзамена в субъекты Российской Федерации
														li.
															Обработка апелляций участников единого государственного экзамена
														li.
															Организация обеспечения подключения к защищённой сети передачи данных региональных центров обработки информации, образовательных организаций среднего профессионального и высшего образования
								.inside_tabs_info__box
									.container
										h2.
											Деятельность по оказанию услуг, выполнению работ, предусмотренная Уставом учреждения
										.text-block
											ul.text-block_box
												li Информационно-методическое и организационно-технологическое обеспечение проведения государственной итоговой аттестации обучающихся, освоивших основные образовательные программы основного общего образования и иных форм оценки качества образования
													.namber 1
												li Разработка, использование и распространение методов, алгоритмов баз данных и программ для ЭВМ по подготовке, проведению и обработке результатов тестирования с целью оценки качества образования
													.namber 2
												li Подготовка и издание учебной, методической и иной литературы по вопросам оценки качества образования
													.namber 3
												li Проведение экспертизы процедур оценки качества образования в рамках проверок качества образования в образовательных организациях
													.namber 4
												li Проведение конференций, семинаров, совещаний и выставок по вопросам оценки качества образования и подготовки обучающихся
													.namber 5
												li Создание, формирование, ведение и использование баз данных и иных информационных ресурсов в сфере оценки качества подготовки обучающихся
													.namber 6
												li Обеспечение информационной безопасности вычислительных систем и сетей в том числе: 
													| <br> - по технической защите конфиденциальной информации; 
													| <br> - по распространению и техническому обслуживанию шифровальных (криптографических) средств, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств, выполнению работ, оказанию услуг в области шифрования информации, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств
													.namber 7
												li Осуществление образовательной деятельности по дополнительным профессиональным программам
													.namber 8
								.inside_tabs_info__box
									.container
										h2.
											Законодательные и нормативные правовые акты, регламентирующие деятельность ФГБУ «ФЦТ»
										.text-block
											ul.text-block_box.link
												li 
													p Об утверждении устава Федерального государственного бюджетного учреждения «Федеральный центр тестирования» от 12.07.2017 №1166
													.download
														a.download_click(href='#').
															Скачать
														.download_text.
															pdf, 6.35 мб
												li 
													p Приказ Рособрнадзора от 26.12.2008 № 2249 «О закреплении за Федеральным государственным учреждением «Федеральный центр тестирования» полномочий по осуществлению организационного и информационно-технологического обеспечения организации и проведения ЕГЭ»
													.download
														a.download_click(href='#').
															Скачать
														.download_text.
															doc, 102 кб
						.tab_slide__info-link
							.tab_slide__img-info
								img.pictures(src='img/fonts-test.PNG')
								.tab_slide__breadcrumbs
									a(href='#') О ФЦТ
									a(href='#') Общая информация
							ul.inside_tabs
								li.active
									p Общая информация
										include ../img/ic_structure.svg 
								-var infoTab= ["Структура", "Лицензии", "Контакты"]
									for name in infoTab
										li 
											p= name 
												include ../img/ic_structure.svg 
							.inside_tabs_info.active
								.inside_tabs_info__box
									.container
										h1 Общая информация
										.text-block
											h3.
												Федеральное государственное бюджетное учреждение «Федеральный центр тестирования» (ФЦТ)
											div
												p.
													ФГБУ «ФЦТ» создан в целях содействия Рособрнадзору в осуществлении его <br> полномочий, в том числе по организации проведения единого государственного <br>экзамена, формированию и ведению информационных ресурсов.
								.inside_tabs_info__box
									
									.title Направления деятельности
									.container
										h2.
											Деятельность в рамках Государственного задания
										.text-block
												span 1
												p
													strong. 
														Организационное и технологическое обеспечение проведения государственной итоговой аттестации
												ul.text-block_list
													li.
														Сбор данных об участниках единого государственного экзамена
													li.
														Формирование плана распределения экзаменационных материалов по субъектам Российской Федерации
													li.
														Тиражирование, комплектование и доставка экзаменационных материалов в субъекты Российской Федерации и российские образовательные организации, расположенные за пределами территории Российской Федерации
													li.
														Перевод на шрифт Брайля, тиражирование, комплектование и доставка в субъекты Российской Федерации экзаменационных материалов для слепых участников единого государственного экзамена
													li.
														Тиражирование на CD-дисках экзаменационных материалов по иностранному языку
										.text-block
												span 2
												p
													strong.
														Организационно-техническое обеспечение формирования и ведения информационных ресурсов, связанных с осуществлением полномочий Рособрнадзора
												ul.text-block_list
													li.
														Организационно-техническое обеспечение формирования и ведения ФИС ГИА и приёма
													li.
														Организация централизованной проверки экзаменационных работ обучающихся, выполненных на основе контрольных измерительных материалов при проведении государственной итоговой аттестации по образовательным программам среднего общего образования в форме единого государственного экзамена
													li.
														Обработка экзаменационных работ, полученных при проведении единого государственного экзамена за пределами территории Российской Федерации
													li.
														Направление результатов единого государственного экзамена в субъекты Российской Федерации
													li.
														Обработка апелляций участников единого государственного экзамена
													li.
														Организация обеспечения подключения к защищённой сети передачи данных региональных центров обработки информации, образовательных организаций среднего профессионального и высшего образования
								.inside_tabs_info__box
									.container
										h2.
											Деятельность по оказанию услуг, выполнению работ, предусмотренная Уставом учреждения
										.text-block
											ul.text-block_box
												li Информационно-методическое и организационно-технологическое обеспечение проведения государственной итоговой аттестации обучающихся, освоивших основные образовательные программы основного общего образования и иных форм оценки качества образования
													.namber 1
												li Разработка, использование и распространение методов, алгоритмов баз данных и программ для ЭВМ по подготовке, проведению и обработке результатов тестирования с целью оценки качества образования
													.namber 2
												li Подготовка и издание учебной, методической и иной литературы по вопросам оценки качества образования
													.namber 3
												li Проведение экспертизы процедур оценки качества образования в рамках проверок качества образования в образовательных организациях
													.namber 4
												li Проведение конференций, семинаров, совещаний и выставок по вопросам оценки качества образования и подготовки обучающихся
													.namber 5
												li Создание, формирование, ведение и использование баз данных и иных информационных ресурсов в сфере оценки качества подготовки обучающихся
													.namber 6
												li Обеспечение информационной безопасности вычислительных систем и сетей в том числе: 
													| <br> - по технической защите конфиденциальной информации; 
													| <br> - по распространению и техническому обслуживанию шифровальных (криптографических) средств, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств, выполнению работ, оказанию услуг в области шифрования информации, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств
													.namber 7
												li Осуществление образовательной деятельности по дополнительным профессиональным программам
													.namber 8
								.inside_tabs_info__box
									.container
										h2.
											Законодательные и нормативные правовые акты, регламентирующие деятельность ФГБУ «ФЦТ»
										.text-block
											ul.text-block_box.link
												li 
													p Об утверждении устава Федерального государственного бюджетного учреждения «Федеральный центр тестирования» от 12.07.2017 №1166
													.download
														a.download_click(href='#').
															Скачать
														.download_text.
															pdf, 6.35 мб
												li 
													p Приказ Рособрнадзора от 26.12.2008 № 2249 «О закреплении за Федеральным государственным учреждением «Федеральный центр тестирования» полномочий по осуществлению организационного и информационно-технологического обеспечения организации и проведения ЕГЭ»
													.download
														a.download_click(href='#').
															Скачать
														.download_text.
															doc, 102 кб
							.inside_tabs_info
								.inside_tabs_info__box
									.container
										h1 Общая информация
										.text-block
											h3.
												Федеральное государственное бюджетное учреждение «Федеральный центр тестирования» (ФЦТ)
											div
												p.
													ФГБУ «ФЦТ» создан в целях содействия Рособрнадзору в осуществлении его <br> полномочий, в том числе по организации проведения единого государственного <br>экзамена, формированию и ведению информационных ресурсов.
								.inside_tabs_info__box
									
									.title Направления деятельности
									.container
										h2.
											Деятельность в рамках Государственного задания
										.text-block
												span 1
												p
													strong. 
														Организационное и технологическое обеспечение проведения государственной итоговой аттестации
												ul.text-block_list
													li.
														Сбор данных об участниках единого государственного экзамена
													li.
														Формирование плана распределения экзаменационных материалов по субъектам Российской Федерации
													li.
														Тиражирование, комплектование и доставка экзаменационных материалов в субъекты Российской Федерации и российские образовательные организации, расположенные за пределами территории Российской Федерации
													li.
														Перевод на шрифт Брайля, тиражирование, комплектование и доставка в субъекты Российской Федерации экзаменационных материалов для слепых участников единого государственного экзамена
													li.
														Тиражирование на CD-дисках экзаменационных материалов по иностранному языку
										.text-block
												span 2
												p
													strong.
														Организационно-техническое обеспечение формирования и ведения информационных ресурсов, связанных с осуществлением полномочий Рособрнадзора
												ul.text-block_list
													li.
														Организационно-техническое обеспечение формирования и ведения ФИС ГИА и приёма
													li.
														Организация централизованной проверки экзаменационных работ обучающихся, выполненных на основе контрольных измерительных материалов при проведении государственной итоговой аттестации по образовательным программам среднего общего образования в форме единого государственного экзамена
													li.
														Обработка экзаменационных работ, полученных при проведении единого государственного экзамена за пределами территории Российской Федерации
													li.
														Направление результатов единого государственного экзамена в субъекты Российской Федерации
													li.
														Обработка апелляций участников единого государственного экзамена
													li.
														Организация обеспечения подключения к защищённой сети передачи данных региональных центров обработки информации, образовательных организаций среднего профессионального и высшего образования
								.inside_tabs_info__box
									.container
										h2.
											Деятельность по оказанию услуг, выполнению работ, предусмотренная Уставом учреждения
										.text-block
											ul.text-block_box
												li Информационно-методическое и организационно-технологическое обеспечение проведения государственной итоговой аттестации обучающихся, освоивших основные образовательные программы основного общего образования и иных форм оценки качества образования
													.namber 1
												li Разработка, использование и распространение методов, алгоритмов баз данных и программ для ЭВМ по подготовке, проведению и обработке результатов тестирования с целью оценки качества образования
													.namber 2
												li Подготовка и издание учебной, методической и иной литературы по вопросам оценки качества образования
													.namber 3
												li Проведение экспертизы процедур оценки качества образования в рамках проверок качества образования в образовательных организациях
													.namber 4
												li Проведение конференций, семинаров, совещаний и выставок по вопросам оценки качества образования и подготовки обучающихся
													.namber 5
												li Создание, формирование, ведение и использование баз данных и иных информационных ресурсов в сфере оценки качества подготовки обучающихся
													.namber 6
												li Обеспечение информационной безопасности вычислительных систем и сетей в том числе: 
													| <br> - по технической защите конфиденциальной информации; 
													| <br> - по распространению и техническому обслуживанию шифровальных (криптографических) средств, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств, выполнению работ, оказанию услуг в области шифрования информации, информационных систем и телекоммуникационных систем, защищенных с использованием шифровальных (криптографических) средств
													.namber 7
												li Осуществление образовательной деятельности по дополнительным профессиональным программам
													.namber 8
								.inside_tabs_info__box
									.container
										h2.
											Законодательные и нормативные правовые акты, регламентирующие деятельность ФГБУ «ФЦТ»
										.text-block
											ul.text-block_box.link
												li 
													p Об утверждении устава Федерального государственного бюджетного учреждения «Федеральный центр тестирования» от 12.07.2017 №1166
													.download
														a.download_click(href='#').
															Скачать
														.download_text.
															pdf, 6.35 мб
												li 
													p Приказ Рособрнадзора от 26.12.2008 № 2249 «О закреплении за Федеральным государственным учреждением «Федеральный центр тестирования» полномочий по осуществлению организационного и информационно-технологического обеспечения организации и проведения ЕГЭ»
													.download
														a.download_click(href='#').
															Скачать
														.download_text.
															doc, 102 кб
				.footer
					a.link_next(href='#') Структура
						include ../img/ic_structure.svg 
			footer
				.middle
					.content
						ul.text-block
							li
								img(src="img/1.png")
								p Министерство образования и науки Российской Федерации
							li
								img(src="img/1.png")
								p Федеральная служба по надзору в сфере образования и науки
							li
								img(src="img/1.png")
								p Федеральный институт педагогических измерений
							li
								img(src="img/1.png")
								p Официальный информационный портал единого государственного экзамена
							li
								img(src="img/1.png")
								p Темы итоговых сочинений
							li
								img(src="img/1.png")
								p Официальный информационный портал ГИА 9
					.content
						div
							p © 2014–2017   ФГБУ «ФЦТ»
							p Правовая информация
							p.stop
								img(src="img/korr.svg") 
								span Противодействие коррупции
						div
							p 123557, Москва, <br>Пресненский Вал, <br>д.19 стр.1 
						div
							p
								strong Контакт-центр
								| <br>Для регионов    8 (800) 555-19-81
								| <br>Для Москвы        8 (499) 110-62-80
						div
							button.click(type="submit")
								img(src="img/ic_visibility_24px.svg")
								| Версия для слабовидящих
							button#modal(type="submit")
								| Отправить обращение
		script(src= 'http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js').
		script(src= 'js/app.js').
